h1 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

h2 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440%;
}

.mail {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 657px;
    letter-spacing: 0;
    line-height: normal;
    position: 301px;
}

.pass {
    background-color: #d9d9d9;
    height: 53px;
    left: 502px;
    position: absolute;
    top: 402px;
    width: 439px;
}
.login-button{
    display: flex ;
    height: 57px ;
    left: 610px ;
    position: absolute ;
    top: 610px ;
    width: 221px ;
}

.new_user{
    display: flex ;
    height: 57px ;
    left: 611px ;
    position: absolute ;
    top: 708px;
    width: 221px;
}
