.arrow{
  display: contents;
  font-size: 40px;
}

.list{
    display: flex;
      flex-direction: column;
      align-items: flex-start; /* 左端を揃える */
      gap: 15px;
    place-items: center;
  }

  .button{
 background-color: black;
    color: #ffffff;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    display: flex;
    margin: 0 auto;
    border-radius: 5px; 
  }