.arrow{
    display: contents;
    font-size: 30px;
  }
  
  .list{
    border: 2px solid black; /* 線の太さ、スタイル、色を指定 */
      padding: 10px;          /* 内側の余白 */
      margin: 10px;  
  }
  
  .date{
  margin-left:71rem;
  display: inline-block;
      border-bottom: 4px solid orange; /* 下線のデザイン */
      padding-bottom: 5px;
  
  }
  
  .order{
  margin-left:8rem;
  }
  
  .sum{
    margin-left:8rem;
  }