.image-topp {
  display: flex;
  grid: 10px;
  width: 751px;
  height: 300px;
}

.category {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-left: 70px;
}

.category-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 10px;

  position: relative;
  left: 300px;
  margin-top: -290px;
}

.category-card {
  padding: 16px;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;

  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  height: 200px;
  width: 100%;
}

.category-card img {
  width: 100%;

  height: 150px;

  object-fit: cover;

  border-radius: 8px 8px 0 0;
}

.image-topp {
  display: flex;
  gap: 10px;
}


.main__container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.category__container {
  display: flex;
  flex-direction: column;


}

.card__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}