.image-topp {
  display: flex;
  grid: 10px;
  width: 751px;
  height: 300px;
}

.category {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-left: 70px;
}

.category-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*ä¸€åˆ—ã«5å€‹*/
  gap: 10px;
  /* ä½™ç™½ */
  position: relative;
  left: 300px;
  margin-top: -290px;
}

.category-card {
  padding: 16px;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  /* ã‚«ãƒ¼ãƒ‰ã®è§’ã‚’ä¸¸ã */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* å½±ã‚’è¿½åŠ  */
  height: 200px;
  width: 100%;
}

.category-card img {
  width: 100%;
  /* ç”»åƒã®å¹…ã‚’ã‚«ãƒ¼ãƒ‰ã®å¹…ã«åˆã‚ã›ã‚‹ */
  height: 150px;
  /* é«˜ã•ã‚’å›ºå®š */
  object-fit: cover;
  /* ç”»åƒã‚’åˆ‡ã‚ŠæŠœã„ã¦ãƒ•ã‚£ãƒƒãƒˆ */
  border-radius: 8px 8px 0 0;
}

.image-topp {
  display: flex;
  gap: 10px;
}


.main__container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.category__container {
  display: flex;
  flex-direction: column;


}

.card__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}