G6　商品詳細
h1{
   left: 20px;
  }
  
  .search {
    left: 50px;
  }
  
 .button {
    left: 300px;
  }
  
  .kato {
    left: 400px;
  }
  
  .favorite {
    left: 450px;
  }
  
  .mypage {
      left: 500px;
  }